

// 
// Colors
// 
$primary: #2d2e2e;   // background color
$secondary: #f8f8f8;  // background light grey;
$text: #666666;   // off grey paragraph text
$third: #262626;       // heading black

$accent: #abbd69;      // olive green


// 
// Font Size
// 

$font-regular: 14px;
$font-medium: 18px;
$font-large: 30px;
$font-xl: 48px;


// 
// Font Family
// 
$font-family-main:'Open Sans', sans-serif;
